body {
 background-image: url("http://media.steampowered.com/apps/csgo/blog/images/wallpaper_nologo.jpg");
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: 	#7FFF00;
}


p {
  color: #FFF8DC;
}
